# Dependencias
node_modules/
.pnpm-store/

# Builds
.next/
out/
dist/
build/
.turbo/

# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.coverage
htmlcov/
*.egg-info/

# Entornos y secretos
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Next.js
*.tsbuildinfo
